
.navigation {
  margin-top: 10px;
  margin-bottom: -15px;
}

.navigation__links {
  float: left;

  a {
    text-decoration: none;
    color: #444;
    border-bottom: 1px dashed #777;
    padding-bottom: 2px;
    margin-left: 15px;
    font-size: 0.9em;

    &:target {
      color: #000;
      border: none;
    }

    &.active {
      border: none;
      font-weight: bold;
    }
  }
}


.navigation__login {
  float: right;
}

